

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
.config/
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Modelos entrenados (si son grandes)
*.h5
*.pkl
*.pth
*.ckpt
*.weights

# Logs
*.log
logs/
